[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/
ConditionPathExists=/var/webhook

[Service]
ExecStart=/usr/bin/webhook -nopanic -hooks /var/webhook/hooks.json -verbose

[Install]
WantedBy=multi-user.target